.shopContainer {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}



.bookmark_container {
    background: rgba(17, 17, 17, 0.05);
    padding: 10px;
}

.bookmark-title {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    /* or 38px */


    color: #111111;

}

@media (max-width: 480px) {
    .shopContainer {
     display: block;
    }
  }