.shopContainer{
    display: grid;
    grid-template-columns:3fr 2fr;
}
.productContainer{
    margin: 50px;
    background-color: antiquewhite;
    display: grid;
    /* grid-template-columns: repeat(1,3fr); */
    grid-template-columns:5fr;
    gap: 40px;
}

.bookmark_container{
background-color:rgba(17, 17, 17, 0.05);;
}