.bookmark {
    background-color: white;
    font-family: 'Exo 2';
    padding: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    /* or 29px */
    color: #111111;
    margin-top: 10px;
}