.header{
    height: 80px;
    background-color: #1C2B35;
    display:flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
.h_link a{
    text-decoration: none;
    color: white;
    margin-left: 30px;

}
.h_link a:hover{
    color: antiquewhite;
}