.product {
    width: 800px;
    height: 750px;
    border: 1px solid gray;
    border-radius: 8px;
    position: relative;
}

.product img {
    height: 300px;
    width: 100%;
    margin: auto;
    border-radius: 8px;
    text-align: center;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    margin: 7px;
}

.product-price {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin: 7px;
}

.product-manufacturer {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.004em;
    margin: 7px;
    padding-top: 30px;

}

.product-rattig {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.004em;
    margin: 7px;

}

.btn-cart{
    background-color: #FFE0B3;
    color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.btn-cart:hover{
    background-color: orange;

}

/* Author css */
.author-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  /* .author-text {
    margin-left: 20px;
  } */
  
  .author-text h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .date {
    font-size: 16px;
    margin: 0;
  }
  
  .icon {
    margin-left: 20px;
  }
  
  .icon img {
    height: 30px;
  }
  
  .author-text{
    display: flex;
  }
  .authimage img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }